In [1]:
import pandas as pd
import plotly.graph_objects as go
import datetime as dt

In [2]:
pair = "EUR_USD"
granularity = "H4"
df = pd.read_pickle(f"../data/{pair}_{granularity}.pkl")

In [6]:
df.tail()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
4,2024-06-26 05:00:00+00:00,11868,1.07104,1.07114,1.06854,1.06949,1.07096,1.07106,1.06847,1.06942,1.07112,1.07121,1.06861,1.06956
5,2024-06-26 09:00:00+00:00,13725,1.06948,1.06996,1.06770,1.06772,1.06941,1.06989,1.06763,1.06765,1.06956,1.07004,1.06778,1.06779
6,2024-06-26 13:00:00+00:00,18402,1.06771,1.06959,1.06660,1.06821,1.06764,1.06952,1.06653,1.06814,1.06778,1.06966,1.06668,1.06828
7,2024-06-26 17:00:00+00:00,6821,1.06822,1.06909,1.06750,1.06801,1.06814,1.06902,1.06743,1.06794,1.06829,1.06916,1.06757,1.06808
8,2024-06-26 21:00:00+00:00,4352,1.06814,1.06822,1.06770,1.06783,1.06795,1.06814,1.06763,1.06775,1.06834,1.06834,1.06778,1.06791

In [8]:
# take just 100 items from the api
df_plot = df.iloc[:100]

In [10]:
fig = go.Figure()
fig.add_trace(go.Candlestick(
    x = df_plot.time,
    open= df_plot.mid_o,
    high= df_plot.mid_h,
    low= df_plot.mid_l,
    close= df_plot.mid_c
))